<div class="blogTop">
 <h1>Triskell Blog</h1>
</div>


 <a class="btn btn-success" href="/blogs/new">Add New Blog</a>
 <div class="spacer-mic"></div>

<% if @blog.count < 1 %>
 <h3>Things are very busy at Triskell Works, but stay tuned. We'll have some updates coming your way soon!</h3>
<% end %>

<div class="blogList">
<% @blog.each do |blog| %>

       <dl>
         <div class="col-md-4 panel-body">
         <div class="panel panel-default">
          <div class="panel-heading">
           <h3 class="panel-title"></h3>
          </div>

       <div class="panel-body">
        <dt>Title</dt>
        <dd class="shower"><%= blog.title %></dd>
        <br>
        <dt>Headline</dt>
        <dd class="shower"><%= blog.headline %></dd>
        <br>

         <div class="text-center">
          <div class="btn-group btn-group-lg" role="group">
          <td><%= link_to 'Show', "/blogs/#{blog.id}", :class => 'btn btn-info btn-group btn-group-xs' %></td>
          <td><%= link_to 'Edit', "/blogs/#{blog.id}/edit", :class => 'btn btn-warning btn-group btn-group-xs' %></td>
          <td><%= link_to 'Delete', "/blogs/#{blog.id}", method: :delete, :class => 'btn btn-danger btn-group btn-group-xs' %></td>
           </div>
          </div>
          </div>
         </div>
        </div>
       </dl>
  <% end %>
</div>
